body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(230, 202, 202, 0.788);
    margin-top: 40px;
    overflow-x: hidden;
}

.container {
    background-color: white;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    padding: 70px 60px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title */
.main-title {
    position: relative;
    text-align: center;
    font-family: 'Lato', sans-serif;
    top: 20px;
    color: red;
    display: inline-block;
    font-size: 2.5rem;
    text-shadow: 0 1px 0 #b7b7b7, 0 2px 0 #b7b7b7, 0 3px 0 #b7b7b7,
        0 4px 0 #b7b7b7, 0 5px 0 #b7b7b7, rgba(0, 0, 0, 0.5);
    animation: bounce 0.4s ease infinite alternate;
    margin-left: -13px;
}

.main-title span:nth-child(2) {
    animation-delay: 0.1s;
}
.main-title span:nth-child(3) {
    animation-delay: 0.2s;
}
.main-title span:nth-child(4) {
    animation-delay: 0.3s;
}
.main-title span:nth-child(5) {
    animation-delay: 0.4s;
}
.main-title span:nth-child(6) {
    animation-delay: 0.5s;
}
.main-title span:nth-child(7) {
    animation-delay: 0.6s;
}
.main-title span:nth-child(8) {
    animation-delay: 0.7s;
}
.main-title span:nth-child(9) {
    animation-delay: 0.8s;
}
.main-title span:nth-child(10) {
    animation-delay: 0.9s;
}
.main-title span:nth-child(11) {
    animation-delay: 1s;
}
.main-title span:nth-child(12) {
    animation-delay: 1.1s;
}
.main-title span:nth-child(13) {
    animation-delay: 1.2s;
}
.main-title span:nth-child(14) {
    animation-delay: 1.3s;
}
.main-title span:nth-child(15) {
    animation-delay: 1.4s;
}
.main-title span:nth-child(16) {
    animation-delay: 1.5s;
}

@keyframes bounce {
    100% {
        top: -20px;

        text-shadow: 0 1px 0 #b7b7b7, 0 2px 0 #b7b7b7, 0 3px 0 #b7b7b7,
            0 4px 0 #b7b7b7, 0 5px 0 #b7b7b7, rgba(0, 0, 0.5);
    }
}

/* Buttons */
.btn {
    display: inline;
    background-color: white;
    color: #27264b;
    border: 4px solid rgba(255, 174, 0, 0.514);
    border-radius: 10px;
    padding: 20px 30px;
    margin: 25px;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
}
.btn:hover {
    background-color: #fff7e6;
    border-color: rgb(170, 64, 156);
    box-shadow: 0 6px 18px rgba(3, 184, 255, 0.35),
        0 0 12px rgba(79, 143, 36, 0.4);
    transform: translateY(-3px);
    transition: all 0.2s ease;
}

/* Gift */
.gifts {
    font-size: 100px;
    margin-top: 40px;
}

/* Messages */
.message {
    color: #6d6875;
    font-size: 1.2rem;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
        margin-top: 30px;
    }
    .main-title {
        font-size: 1.8rem;
    }
    .btn {
        display: inline;
        font-size: 40px;
        padding: 15px 15px;
    }
    .gifts {
        font-size: 50px;
    }
    .message {
        font-size: 1rem;
    }
}
